body {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-neutral:        #E6E6E6;
    --swatch-primary-up:     #A8C0AD;
    --swatch-primary:        #C9E0CD;
    --swatch-primary-down:   #E9E0ED;
    --swatch-complement:     #E1E4CB;
    --swatch-accent:         #227722;
    --swatch-bright-accent:  #d84533;
    
    --font-family: "Roboto";
}

/* NAVIGATION BAR CONTROLS */
/*  #top_toolbar and its buttons */

/* ? */
#list_heading {
    font-size: 36pt;
}

.list_item_card {
    position: relative;
    height: 50px;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--swatch-bright-accent);
    border-radius: 5px;
    padding: 5px 10px 5px 10px
}

.list_item_card:hover {
    background-color: var(--swatch-complement);
}

.list_item_card_plus {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 24pt;
}

.list_item_card_heading {
    position: absolute;
    top: 0%;
    left: 2%;
    font-weight: bold;
    font-size: 16pt;
}

.list_item_card_details_1, .list_item_card_details_2, .list_item_card_details_3 {
    position: absolute;
    top: 50%;
    font-size: 12pt;
}

.list_item_card_details_1 {
    left: 2%;
}

.list_item_card_details_2 {
    left: 35%;
}

.list_item_card_details_3 {
    left: 60%;
}

.list_item_card_toolbar {
    position: absolute;
    left: 85%;
    top: 15%;
}

.list_item_card_button {
    border-radius: 10px;
    background-color: pink;
    color: gray;
    font-size: 24pt;
    font-weight: bold;
}

.list_item_card_button:hover {
    color: white;
    cursor: default;
}