#todo_home {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

#recent_work_container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#banner_image_container {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

#new_list_button_container {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

#todo_list_item_form
{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

#todo_item_prompt {
    grid-column: 1 / 2;
}
 
#todo_item_input {
    grid-column: 2 / 3;
}